<!--The content below is only a placeholder and can be replaced.-->
<!-- main app container -->
<div class="all">
  <div class="bar">
    <div class="container">
        <div class="item item-l">
          <span class="header">SEDU: Segelflyg - Educational platform</span>
        </div>
        
        <div class="item item-r" [hidden]="!Auth.get_isLoggedIn()">
          <span>Alexander Koski: Elev</span><i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>

  </div>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>
