<div class="alert alert-warning" [hidden]="!hasUpdated">
  <strong>OBS!</strong> Informationen på sidan kan ha ändrats. Updatera sidan för att ta del av ändringarna.
</div>

<!--MULTIPLE-VIEW-->
<div class="overview" [hidden]="section_fullscreen">
  <h1 class="col col-md-12">
    Inehåll - Luftrum och bestämmelser
  </h1>
  <hr>
  <div class="sections" [hidden]="section_edit">
    <div class="col col-md-4" *ngFor="let section of Teacher.section">
      <div class="card">
        <h2 class="header dark-blue">{{section.name}}</h2>
        <h3>Beskrivning</h3>
        <p>{{section.description}}</p>

        <h3>Delmoment {{(section.part_count)?section.part_count:"0"}}st</h3>
        <button class="edit" type="button" name="button" (click)="setActiveSection(section)">Redigera sektion</button>
      </div>
    </div>

    <div class="col col-md-4">
      <div class="card">
          <form class="new-form" #form=ngForm (ngSubmit)="createNewSection(form.value); form.reset();">
            <input class="header dark-blue" name="name" type="text" placeholder="Ny Sektion" [(ngModel)]="editName">
            <h3>Beskrivning</h3>
            <textarea rows="10" class="" name="description" type="text" placeholder="Beskrivning" [(ngModel)]="editDesc"></textarea>
            <input class="edit" type="submit" value="Skapa sektion" >
          </form>
      </div>
    </div>

  </div>
</div>


<!--SINGLE-VIEW-->


<div class="section_edit" [hidden]="!section_fullscreen">
  <h1>Luftrum och bestämmelser</h1>
  <hr>
  <div class="card" style="min-height:250px;" [hidden]="section_edit">
    <h2 class="header dark-blue">{{active_section_name}}</h2>
    <p>{{active_section_desc}}</p>
    <button type="button" class="edit" (click)="section_edit = !section_edit" name="button">Redigera sektionen</button>
    <button type="button" class="edit" (click)="Teacher.removeSection(active_section_id)" name="button">Ta bort hela sektionen</button>
  </div>
  <hr>
  <form class="new-form" [hidden]="!section_edit" #selection_edit_form=ngForm (ngSubmit)="Teacher.editSection(selection_edit_form.value); section_edit = !section_edit; hasUpdated=true;">
    <input class="header dark-blue" name="name" type="text" [(ngModel)]="active_section_name">
    <h3>Beskrivning</h3>
    <textarea name="description" type="text" rows="10" [(ngModel)]="active_section_desc"></textarea>
    <input name="section_id" type="hidden" [(ngModel)]="active_section_id">
    <input type="submit" class="edit" value="Redigera section">
    <input type="button" class="edit" value="Tillbaka" name="back" (click)="section_edit = !section_edit;">
  </form>

  <div class="card" *ngFor="let part of Teacher.parts">
    <div [hidden]="part.part_edit">
      <h3 class="header light-blue">{{part.name}}</h3>
      <h4>Delbeskrivning: </h4>
      <p>{{part.description}}</p>
      <iframe width="420" height="315"
          [src]="makeLink(part.video)"
          allowfullscreen="allowfullscreen"
          mozallowfullscreen="mozallowfullscreen"
          msallowfullscreen="msallowfullscreen"
          oallowfullscreen="oallowfullscreen"
          webkitallowfullscreen="webkitallowfullscreen">
      </iframe>

      <table class="part-question col col-md-12">
        <tr>
          <th class="question">Övningsfrågor</th>
          <th class="answer">Svar</th>
        </tr>
        <tr *ngFor="let question of part.question">
          <td class="question">{{question.question}}</td>
          <td class="answer">{{question.answer}}</td>
          <td><i class="fa fa-times red" (click)="Teacher.removeQuestion(question.question_id);" aria-hidden="true"></i></td>
        </tr>
      </table>

      <table class="part-question col col-md-12">
        <tr>
          <th class="question">Examineringsfrågor</th>
          <th class="answer">Svar</th>
        </tr>
        <tr *ngFor="let question of part.exam">
          <td class="question">{{question.question}}</td>
          <td class="answer">{{question.answer}}</td>
          <td><i class="fa fa-times red" (click)="Teacher.removeQuestion(question.question_id)" aria-hidden="true"></i></td>
        </tr>
      </table>

      <hr>
      <div class="col col-12">
        <button type="button" class="edit col col-12" name="button" (click)="part.part_edit = !part.part_edit; compose_video_url(part.video);"> Redigera del</button>
        <button type="button" class="edit col col-12" name="button" (click)="Teacher.removePart(part.part_id);"> Ta bort del</button>
      </div>
    </div>

    <!-- Edit part -->

    <div class="editPart" [hidden]="!part.part_edit">
      <form class="new-form" #edit_part_form=ngForm (ngSubmit)="Teacher.editPart(edit_part_form.value)">
        <input class="header light-blue" type="text" name="name" [(ngModel)]="part.name">
        <h4>Beskrivning</h4>
        <textarea rows="10" type="text" name="description" [(ngModel)]="part.description"></textarea>
        <h4>Youtube video</h4>
        <input class="" type="text" name="video" [(ngModel)]="full_video_url">
        <input type="hidden" name="part_id" [(ngModel)]="part.part_id">
        <input type="hidden" name="section_id" [(ngModel)]="part.section_id">

        <input class="edit" type="submit" value="Spara ändringar">
      </form>
      <hr>

      <h4>Frågor</h4>
      <table class="part-question col col-md-12">
        <tr>
          <th class="question">Övningsfrågor</th>
          <th class="answer">Svar</th>
        </tr>
        <!-- Övningsfrågor -->
        <tr *ngFor="let question of part.question">
          <form class="new-form" #edit_question_form=ngForm (ngSubmit)="Teacher.editQuestion(false, question.question_id, edit_question_form.value); Teacher.getParts(active_section_id);">
            <td class="question"><input type="text" name="question" [ngModel]="question.question"></td>
            <td class="answer"><input type="text" name="answer" [ngModel]="question.answer"></td>
            <td class="question_submit"><input type="submit" name="s" value="Spara"></td>
          </form>
        </tr>
        <!-- Nya Övningsfrågor -->
        <tr *ngFor="let i of newRegularFields">
          <form class="new-form"  #new_question_form=ngForm (ngSubmit)="Teacher.newQuestion(false, part.part_id, new_question_form.value); this.Teacher.getParts(active_section_id); new_question_form.reset()">
            <td class="question"> <input type="text" name="question" placeholder="Ny Fråga" ngModel></td>
            <td class="answer"> <input type="text" name="answer" placeholder="Nytt svar" ngModel></td>
            <td class="question_submit"><input type="submit" name="s" value="Spara"></td>
          </form>
        </tr>
      </table>
      <button class="edit" type="button" name="button" (click)="newRegularFields.push(0);">Ännu en övningsfråga</button>

      <table class="part-question col col-md-12">
        <tr>
          <th class="question">Examineringsfrågor</th>
          <th class="answer">Svar</th>
        </tr>
        <!-- Exam frågor -->
        <tr *ngFor="let question of part.exam">
          <form class="new-form" #edit_exam_form=ngForm (ngSubmit)="Teacher.editQuestion(true, question.question_id, edit_exam_form.value); this.Teacher.getParts(active_section_id);">
            <td class="question"><input type="text" name="question" [ngModel]="question.question"></td>
            <td class="answer"><input type="text" name="answer" [ngModel]="question.answer"></td>
            <td class="question_submit"><input type="submit" name="s" value="Spara"></td>
          </form>
        </tr>
        <!-- Nya exam frågor -->
        <tr *ngFor="let i of newExamFields">
          <form class="new-form" #new_exam_form=ngForm (ngSubmit)="Teacher.newQuestion(true, part.part_id, new_exam_form.value); this.Teacher.getParts(active_section_id); new_exam_form.reset()">
            <td class="question"> <input type="text" name="question" placeholder="Ny Fråga" ngModel></td>
            <td class="answer"> <input type="text" name="answer" placeholder="Nytt svar" ngModel></td>
            <td class="question_submit"><input type="submit" name="s" value="Spara"></td>
          </form>
        </tr>
      </table>
      <button class="edit" type="button" name="button" (click)="newExamFields.push(0);">Ännu en provfråga</button>
      <button class="edit" type="button" name="button" (click)="part.part_edit = !part.part_edit;">Tillbaka</button>

    </div>

  </div>

  <form class="new-form" #new_part_form=ngForm (ngSubmit)="Teacher.createNewPart(new_part_form.value); hasUpdated=true;">
    <input class="header light-blue" type="text" name="name" placeholder="Nytt delmoment" ngModel>
    <textarea type="text" rows="10" name="description" placeholder="Beskrivning" ngModel></textarea>
    <input type="text" name="video" placeholder="Video-url" ngModel>
    <input type="hidden" name="section_id" [(ngModel)]="active_section_id">
    <input class="edit" type="submit" value="Skapa nytt">
  </form>
  <hr>
  <button class="edit" type="button" name="button" (click)="section_fullscreen=!section_fullscreen">Tillbaka</button>
</div>
