<div class="sections" ><!-- Loop on sections-->
  <div class="section col col-md-12">
    <h1 class="col col-md-12" >Luftrum och bestämmelser</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <button type="button" name="button">Expanders sektion</button><!--Makes parts visible fullscreen vh 100-->

    <div class="parts">
      <div class="part"><!-- Loop on parts-->
        <h2>Part 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>

        <iframe src="" width="700" height="500"></iframe>

        <form class="">
          <label> Var sitter skevroderbromsen?</label>
          <input type="text" name="ans1" value="">
          <label> Var sitter beskriv rodrens sekundära verkan.</label>
          <input type="text" name="ans1" value="">
          <label> Beskriv VNe för en ASK 21</label>
          <input type="text" name="ans1" value="">
          <input type="submit" value="Rätta">
        </form>
      </div> <!--.part-->
    </div><!--.parts-->
  </div><!--.section-->
</div><!--.sections-->
